@font-face {
    font-family: DroidKufi;
    src: url(DroidKufi.ttf);
}
*{
	font-family:DroidKufi;
    
}
body{
    background-color: #6e6e6e;
    margin: 0 !important;
    padding: 0 !important;
}
#header{
    height: 100px;
    background: #313131;
    padding: 10px 200px 10px 10px;  
}
#footer{
    border-top: 2px solid #fff ;
    color: #fff;
    background: #313131;
    padding: 10px 100px ;  
}
#main{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.logo {-webkit-filter: grayscale(0%);filter: grayscale(00%);}
.logo:hover {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.flta_logo {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.flta_logo:hover {-webkit-filter: grayscale(0%);filter: grayscale(0%);}
.fb {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.fb:hover {-webkit-filter: grayscale(0%);filter: grayscale(0%);}
.yt {-webkit-filter: grayscale(100%);filter: grayscale(50%);}
.yt:hover {-webkit-filter: grayscale(0%);filter: grayscale(0%);}
#search_tf{
    background: #6e6e6e;
    color: #fff;
    border: #6e6e6e solid 3px;
    border-radius: 5px;
    padding:0 10px;
    width: 200px
}
#search_tf:focus {
    border: #fff solid 2px;
}
#search_bt{
    background: #e98529;
    color: #003333;
    border: #fff solid 2px;
    border-radius: 5px;
    padding:0 10px;
    width: 60px;
}
#search_bt:hover {
    background: #6e6e6e;
    color: #fff;
    border: #fff solid 2px;
}
#join_us{
    background: #e98529;
    color: #fff;
    border: #fff solid 3px;
    border-radius: 5px;
    padding:0 10px;
    width: 200px
}
#join_us:hover {
    color: #e98529;
    background: #fff;
    border: #e98529 solid 3px;
}
#flta{
    background: #009999;
    color: #fff;
    border: #fff solid 3px;
    border-radius: 5px;
    padding:0 10px;
    width: 200px
}
#flta:hover {
    color: #009999;
    background: #fff;
    border: #009999 solid 3px;
}
.form{
   width: 60%; 
   margin: 0 auto;
}
.text_box{
   background: #009999;
   width: 100%;
   direction: rtl;
   padding: 3px 10px;
   border: #fff solid 3px;
   border-radius: 5px;
   color: #fff;
}
.text_box:focus{
    border: #000 solid 3px;
}
select{
   background: #009999;
   direction: rtl;
   padding: 3px 10px;
   border: #fff solid 3px;
   border-radius: 5px;
   color: #fff;
}

select:focus{
    border: #e98529 solid 3px;
}
.add_bt{
    background: #84e96e;
    color: #000;
    border: #006633 solid 3px;
    border-radius: 5px;
    padding:0 10px;
}
.add_bt:hover {
    background: #fff;
    color: #000;
    border: #006633 solid 3px;
}
.table{
   border: 0px;
   background: #399;
}
.table_header{  
   background: #ebad6f;
   border:solid 2px #C00;
   border-radius: 5px;
}
.table_data{
   transition: background-color .2s;
   background: #Fff;
   border:solid 2px chocolate;
   border-radius: 5px;
 }
.table_data:hover{
           
   background: #009999;
   border-radius: 5px;
   color: #fff;
}
.alert-box {
        direction: rtl;
	color:#555;
	border-radius:10px;
	padding:10px 36px;
        margin: 0 auto; 
        margin-top: 10px;
        width: 50%;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec url('../images/style images/error.png') no-repeat 10px 50% ;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../images/style images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}
.warning {
	background:#fff8c4 url('../images/style images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
        border:1px solid #E88B00;
        background:#ffedb5     url('../images/style images/notice.png') no-repeat 10px 50%;
	
}
/**********      PAGINATIO      ************/

.pagination {
    text-align: center;
    margin: 10px
}

.pagination a {
    color: #4A4A4A;
    border: 0; outline: 0;
}

.pagination ul {
	list-style-type:none;
        
}

.pagination ul li {
	display:inline;
	padding: 0 20px 0 20px;
}
.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
	line-height: 1.5em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}
.current{
    background: #FFCC99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav * {
    text-align: center;
}
.nav ul {
  list-style: none;
  background-color: #fff5f5;
  text-align: center;
  padding: 0;
  /*margin: 0;*/
  margin: 0 auto;
  width: 90%;
  border: 2px #990033 solid ;
  border-radius: 5px;
}

.nav li {
  padding: 5px;
  font-size: 12pt;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #000;
  display: block;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #990033;
  color: #fff;
}

.nav a.active {
  background-color: #990033;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: 12pt;
}
 /***********
 NEW MENU */
 
 /*Initialize*/
#menu_div{
    width: 60%;
    background: #e98529;
    margin: 0 auto; 
 }
ul#menu, ul#menu ul.sub-menu {
    padding:0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    background: #e98529;
    padding: 5px;
    display:inline-block;
    width: 150px;
    text-align: center;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    width: 200px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
ul#menu li a:hover{
    background: #fff;
    color: #e98529;
}
ul.sub-menu li a:hover{
    background: #fff;
    color: #e98529;
}
/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 12pt;
    display: inline-block;
  }

  .nav a {
    border-bottom: none;
    border-radius: 5px;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: auto;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}

