@font-face {
    font-family: DroidKufi;
    src: url(DroidKufi.ttf);
}
*{
	font-family:DroidKufi;
    
}
body{
    background-color: #f5f4f4;
}
#header{
    height: 200px;
    width: 100%;
    background: #f5aca6;
    margin: 0;  
}
.alert-box {
        direction: rtl;
	color:#555;
	border-radius:10px;
	padding:10px 36px;
        margin: 0 auto; 
        margin-top: 10px;
        width: 50%;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec url('../images/style images/error.png') no-repeat 10px 50% ;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('../images/style images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}
.warning {
	background:#fff8c4 url('../images/style images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
        border:1px solid #E88B00;
        background:#ffedb5     url('../images/style images/notice.png') no-repeat 10px 50%;
	
}
/**********      PAGINATIO      ************/

.pagination {
    text-align: center;
    margin: 10px
}

.pagination a {
    color: #4A4A4A;
    border: 0; outline: 0;
}

.pagination ul {
	list-style-type:none;
        
}

.pagination ul li {
	display:inline;
	padding: 0 20px 0 20px;
}
.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
	line-height: 1.5em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}
.current{
    background: #FFCC99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav * {
    text-align: center;
}
.nav ul {
  list-style: none;
  background-color: #fff5f5;
  text-align: center;
  padding: 0;
  /*margin: 0;*/
  margin: 0 auto;
  width: 90%;
  border: 2px #990033 solid ;
  border-radius: 5px;
}

.nav li {
  padding: 5px;
  font-size: 12pt;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #000;
  display: block;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #990033;
  color: #fff;
}

.nav a.active {
  background-color: #990033;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: 12pt;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 12pt;
    display: inline-block;
  }

  .nav a {
    border-bottom: none;
    border-radius: 5px;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: auto;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}

